<p> <font size="5"> <b>São Paulo FC games</b></font> </p>
<table>
    
  <tr style="background-color:#b2b2b2 ">
    
    <th> Home Team</th>
    <th>Goals</th>
    <th> </th>
    <th>Goals</th>
    <th> Away Team </th>
    <th> Match Date</th>
  </tr>
  <tr *ngFor = "let game of match">
    
    <td align='center'> {{game.homeTeam.name}} </td>
    <td align='center'>{{game.score.fullTime.homeTeam}}</td>
    <td align='center'> -- </td>
    <td align='center'>{{game.score.fullTime.awayTeam}}</td>
    <td align='center'> {{game.awayTeam.name}} </td>
    <td align='center'> {{game.utcDate | date:'shortDate'}}</td>
  </tr>
</table>
